.page-title{
	h1{
		color:black !important;
		font-size: 20px; 
	}
}
.cms-page-view{
	p{
		font-style:normal !important;
	}
	
}
.show-for-large{
	display:block;
} 
.show-for-small{
	display:none;
}
.show-for-small-2{
	display:none;
}
.show-for-large-2{ 
	display:block; 
}
.input-box{
	#comment{
	max-width:100%;	
	height:200px; 
	}
	
}

//productoverzicht hiden; een JavaScript toont het daarna wel weer.
#nav .level0.nav-2,
#nav .level0.nav-3
{
	display: none;
}


//app page

.google-play-app {
	margin-top: -93px; 
	width: 83%; 
	margin-left: 20px;
}
.mobile-app-col2 {
	margin-top: 10px;
}
.mobile-app-col3 {
	margin-bottom: 60px; 
	margin-top: 10px;
}
.screenshot-iphone {
	width: 63%;
    float: right; 
	margin-top: -100px; 
	margin-right: 70px;
}
@media all and (max-width: 800px){
	.google-play-app {
		margin-top: 0px !important;
		float: left;
	}

	.mobile-app-text {
		float: left !important;
	}

	.mobile-app-col2 {
		margin-top: 0px;
		float: left !important;

	}

	.mobile-app-col3 {
		float: left !important;
	}

	.screenshot-iphone {
		width: 520px;
		float: none; 
		margin: 0 auto;

	}


}
@media all and (max-width: 500px){
	.google-play-app {
		margin-top: 0px !important;
		float: none;
	}

	.mobile-app-text {
		float: none !important;
	}

	.mobile-app-col2 {
		margin-top: 0px;
		float: none !important;

	}

	.mobile-app-col3 {
		float: none !important;
	}

	.screenshot-iphone {
		width: 320px;
		float: none; 
		margin: 0 auto;

	}

}




.bubble-background{
	background-image: url(../images/waterbackground.jpg);  
	width:100%;
	position:relative;
	min-height:600px; 
  &:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		opacity: .6; 
  }
}
.fruit{
	img{
		width:100%;
	}
}
.cont-relative{
	position:relative;
}
.cont-abso{
	position:absolute;
	top:-600px;
}
.cont-abso-2{
	position:absolute;
	top:-435px;
	width:98.22%; 
}
  
.tab-content-fullwidth {
	width: 100% !important;
	text-align:left !important;
	height:340px;
	a{
		position:absolute;
		right:30px;
		bottom:45px; 
	}
	.full-width-image{ 
		float:left;
		text-align: center; 
		width:200px;
		margin-right:20px;
	} 
	.full-width-image-2{
		@extend .full-width-image;
		margin-left:3px;
	}
	.description{
		float:left; 
		width:78%;
	} 
}
 
 .product-tab-content .description {
 	display: none;
 	p{
 		
 	}
 } 
.description-info{
	margin-top:45px;
}
.description-text{
	width:45%;
	float:left; 
	margin-right:20px; 
	margin-top:45px;
	p{
		//font-family: 'Opens Sans'; 
		font-size: 14px !important; 
	} 
}
.tab-li-1.active-tab{
	h2{
		color:#108246;
	}
	strong{
		color:black; 
	}
}
.tab-li-2.active-tab{
	h2{
		color:#F6342A;
	}
	strong{
		color:black;
	}
}
.tab-li-3.active-tab{
	h2{
		color:#A82527;
	}
	strong{
		color:black;
	}
}
.tab-li-4.active-tab{
	h2{
		color:#8DF13F;
	}
	strong{
		color:black;
	}
}
.bottle-box{
	background-color:#fff; 
	border-radius:15px; 
	margin-bottom:30px;
	text-align:center;
	color:black;
	padding:15px;
	img{
		margin:0 auto;
	}
	strong{
		
		font-family: 'Arial Black';
	}
	a{
		float:right;
		//font-family: 'Open Sans';
		color:black;
		cursor:pointer; 
	}
	p{
		font-size:12px;
		//font-family: 'Open Sans' !important;
		margin-bottom:10px; 
	} 
	h2{
		font-family: arial; 
		font-size:25px;
		color:black;
	}
}
.min-height{
	min-height:500px;
}
.bottle-box-head{
	@extend .bottle-box;
	border-radius:15px 15px 0px 0px;
	&:hover{
		background-color:#c8e7fc;
		@include background-image(linear-gradient(to bottom, #c8e7fc, #c8e7fc, #c8e7fc, #fff, #fff)); 
		cursor:pointer; 
	} 

}
.active-tab{
	background-color:#c8e7fc;
	@include background-image(linear-gradient(to bottom, #c8e7fc, #c8e7fc, #c8e7fc, #fff, #fff));
}
.product-tab{
}
.bottle-box-content{
	@extend .bottle-box;
	border-radius: 0px 0px 15px 15px;
}
.home-gradient{
	@include background-image(linear-gradient(to bottom, #4880db, #4880db, rgba(72, 128, 189, 0), rgba(72, 128, 189, 0)));
	min-height:780px;
}
.white-curve{
	background-image: url(../images/white1.svg); 
	background-size:102%;
	background-repeat:no-repeat; 
	width:100%;
	height:300px; 
	background-position:-10px -20px;
	margin-top:-100px;
}
img{
	position:relative;
}
@media all and (max-width: 1100px){
	.home-thumb-small{
		width:47%;
	}
	.cont-abso{
		top:-770px;
	}
	.bottle-box{
		height:370px;
	}
	.bubble-background{
		height:1300px;
	}
	 
	.show-for-small-2{
		display:block;
	}
	.show-for-large-2{ 
		display:none;
	}
	.verkrijgbaar-bij{
		right:0px;
	}
}
@media all and (max-width: 900px){
	.bubble-background{ 
		height:1200px;
	}
	.over-col1{
		width:47%;
	}
	.over-col2{
		width:47%;
		h2{
			line-height:36px;
		}	
	}
	.over-col3{
		width:100%;
		iframe{ 
			width:100% !important; 
		}
	}
}

@media all and (max-width: 870px){
	.verkrijgbaar-bij{
		display:none;
	}
}
@media all and (max-width: 800px){
	.show-for-small{
		display:block;
	}
	.show-for-large{
		display:none;
	}
	.home-thumb-small{
		width:47%;
	}
	.nav-primary{
	background:rgba(255, 255, 255, 0.9);
	}
}
@media all and (max-width: 770px){
	.over-col3{
		margin-bottom:60px;
	}
}  
@media all and (max-width: 700px){
	.over-col1{
		width:100%;
	}
	#contact-bottle{
			margin-left:0px; 
			width:100%;
	}
	.over-col2{
		width:100%;
	}
	.over-col3{
		width:100%;
		margin-bottom:60px;
	}
	.bubble-background{
		height:1100px;
	}
	.white-curve{
		background-size:104%;
	}
	.nav-primary {

	    li {
	        position: relative;
	        border-right:0px;
	        &:last-child{
	            border:1px;
	        }
	    }

	    li.level1 a {
	        border-bottom: 1px solid $c-module-border;
	    }
	}
} 
@media all and (max-width: 600px){
	.logo-bottom{
		position: static; 
	}
}	
@media all and (max-width: 500px){
	.home-thumb-small{
		width:100%;
	} 
	.bubble-background{
		height:2400px;
	}
	.cont-abso{
		top:-754px;
		margin-right:20px;
	}
}
